<div class="modal-header">
    <h3>Edit Supplier</h3>
</div>

<div class="modal-body">
    <div class="form">
        <div class="form-group">
            <!-- <label for="">First Name</label>
            <input [(ngModel)]="this.c.firstName" type="text" class="form-control">
            <label for="">Last Name</label>
            <input [(ngModel)]="this.c.lastName" type="text" class="form-control">
            <label for="">cityid</label>
            <input [(ngModel)]="this.c.scityId" type="text" class="form-control">
            <label for="">Contact</label>
            <input [(ngModel)]="this.c.phoneNo" type="text" class="form-control">
            <label for="">Email</label>
            <input [(ngModel)]="this.c.email" type="text" class="form-control">
            <label for="">Password</label>
            <input [(ngModel)]="this.c.password" type="text" class="form-control"> -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">First Name</label>
                        <input [(ngModel)]="c.firstName" type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Last Name</label>
                        <input [(ngModel)]="c.lastName" type="text" class="form-control" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Mobile No.</label>
                        <input [(ngModel)]="c.phoneNo" type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">Email</label>
                        <input [(ngModel)]="c.email" type="text" class="form-control" style="text-transform: lowercase" />
                    </div>
                </div>
            </div>
            <!-- "[selected]="customer.ccityId.cityId==x.cityId "  -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">City</label>
                        <select [(ngModel)]="city1" class="form-control" (change)="selectChange()">
              <option [value]="x.cityId" *ngFor="let x of city">
                {{ x.city }}
              </option>
            </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for=" ">Address</label>
                        <textarea [(ngModel)]="c.supplierAddress" rows="3 " class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button (click)="onUpdate()" class="btn btn-success">Update</button>
    <!-- <button (click)="onCancel()" class="btn btn-danger float-right"> -->
    <!-- Cancel
    </button> -->
</div>