<!-- <div class="container">
    <div class="card">
        <div class="card-columns">
            <h3>Email :swati@gmail.com</h3>
            <h3>contact : 8978545866</h3>
            <h3>Address : Sector 65 Mumbai</h3>
        </div>
    </div>
    <div class="card">
        <div class="card-columns">
            <h3>Email :priyanka@gmail.com</h3>
            <h3>contact : 9978545866</h3>
            <h3>Address : Sector 77 Mumbai</h3>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="row" style="margin-top: 50px">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header" style="background-color: lightblue">
                    <h3 class="card-title">Contact Us</h3>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <h5>Email :swati@gmail.com</h5>
                        <h5>contact : 8978545866</h5>
                        <h5>Address : Sector 65 Mumbai</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header" style="background-color: lightblue">
                    <h3 class="card-title">Contact Us</h3>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <h5>Email :priyanka@gmail.com</h5>
                        <h5>contact : 9978545866</h5>
                        <h5>Address : Sector 77 Mumbai</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>