.info{
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.info .header{
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    font-size: 30px;
}

.info-pink{
background: linear-gradient(135deg, rgb(251, 45, 158)0%,rgba(250, 67, 168, 0.486)100%);
}
.info-orange{
    background: linear-gradient(135deg, rgb(252, 161, 43)0%,rgba(250, 149, 67, 0.61)100%);
}
.info-voilet{
    background: linear-gradient(135deg, rgb(253, 50, 185)0%,rgba(255, 40, 172, 0.438)100%);
}
.info-red{
    background: linear-gradient(135deg, rgb(251, 45, 45)0%,rgba(250, 67, 67, 0.493)100%);
}
.info-green{
    background: linear-gradient(135deg, rgb(0, 192, 58)0%,rgba(56, 190, 3, 0.384)100%);
}
.info-blue{
    background: linear-gradient(135deg, rgb(252, 72, 207)0%,rgba(250, 67, 226, 0.37)100%);
}
.info-peach{
    background: linear-gradient(135deg, rgb(251, 45, 90)0%,rgba(250, 67, 91, 0.493)100%);
}


