<div style="margin-top: 20px;" class="row">
        <div routerLink="/home/customers" class="col-sm-3">
            <div class=" info info-pink">
                <div class="header">Customers</div>
                <span>2</span>
            </div>
        </div>

        <div routerLink="/home/suppliers" class="col-sm-3">
            <div class=" info info-peach">
                <div class="header">Suppliers</div>
                <span>2</span>
            </div>
        </div>

        <div class="col-sm-3">
            <div routerLink="/home/venues" class=" info info-voilet">
                <div class="header">Venues</div>
                <span>2</span>
            </div>
        </div>

        <div routerLink="/home/bookings" class="col-sm-3">
            <div class=" info info-red">
                <div class="header">Bookings</div>
                <span>2</span>
            </div>
        </div>
</div>
<div style="margin-top: 20px;" class="row">
    <div routerLink="/home/services" class="col-sm-3">
        <div class=" info info-orange">
            <div class="header">Services</div>
            <span>2</span>
        </div>
    </div>

    <div routerLink="/home/facilities" class="col-sm-3">
        <div class=" info info-blue">
            <div class="header">Facilities</div>
            <span>2</span>
        </div>
    </div>

    <div class="col-sm-3">
        <div routerLink="/home/cities" class=" info info-green">
            <div class="header">Cities</div>
            <span>2</span>
        </div>
    </div>

   
</div>
