<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Admin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/facilities">Facility</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/cities">City</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/bookings">Bookings</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/home/customers">Customers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/customers/create">Customer Register</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/auth/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/welcomepage/contactus">Contact Us</a
        >
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/home/welcomepage/home">Contact Us</a>
            </li>

            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </ul>
    </div>
</nav>